.Columb {
  display: flex;
  flex-direction: column;
  width: 22.5rem;
  background-color: #FFFCF2; /*remove when done */
  border-radius: 1.5rem; /*remove when done */
}

.ColumbTitle {
  font-size: clamp(1.5rem, 5vw, 3rem);
  color: #000; /*remove when done */
  /* color: #FFFCF2; */ /*add when done */
  text-transform: capitalize;
  line-height: clamp(1.5rem, 5vw, 3rem);
}
