.Columb {
  display: flex;
  flex-direction: column;
  width: 22.5rem;
  align-items: center;
  margin: 2rem 1.5rem;
}

.ColumbTitle {
  font-size: clamp(1.5rem, 5vw, 3rem);
  color: #FFFCF2;
  text-transform: capitalize;
  line-height: clamp(1.5rem, 5vw, 3rem);
  margin-bottom: 1rem;
}
